<h1>This is a social media application wherein you can share your thoughts and create interest groups as per your interests</h1>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'Home page', root_path %>